

  <mat-card class="ticket-detail-card">
  <mat-card-header style="align-items: center;" class="card-header">
    <mat-card-title>{{ ticket.title }}</mat-card-title>
</mat-card-header>
<hr class="header-divider">
 
    <mat-card-subtitle>
        <div class="info-container">
          <div class="line">
            <div class="info-item">
              <strong>Created By:</strong> {{ ticket.createdBy }}
            </div>
            <div class="info-item">
              <strong>Created At:</strong> {{ ticket.createdAt | date }}
            </div>
          </div>
          <div class="line">
            <div class="info-item">
              <strong>Priority:</strong> {{ ticket.priority }}
            </div>
            <div class="info-item">
              <strong>Status:</strong> {{ ticket.status }}
            </div>
          </div>
          <div class="line">
            <div class="info-item">
              <strong>Category:</strong> {{ ticket.ticketCategoryName }}
            </div>
          </div>
        </div>
      </mat-card-subtitle>
      

  <!-- Description Section -->
  <mat-card-content>
    <p><strong>Description:</strong></p>
    <p>{{ ticket.description }}</p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button routerLink="/tickets">Back to Tickets</button>
  </mat-card-actions>
    <h2>Comments {{ticket.ticketId}}</h2>
<app-comments  *ngIf="ticket?.ticketId"  [ticketId]="ticket.ticketId"></app-comments>

</mat-card>



