
  mat-toolbar {
    background-color:#8996A4; /* Indigo Blue for primary header color */
    color: #FFFFFF; /* White text */
    padding: 0 16px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); 
    height: 50px;
  }
  
  mat-toolbar .spacer {
    flex: 1 1 auto;
  }
  
  mat-toolbar .username {
    margin-right: 16px;
    font-weight: 500;
    font-size:15px;
  }