<!-- group.component.html -->
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort class="groups-table">
  
      <!-- Group ID Column -->
      <ng-container matColumnDef="groupId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let group">{{ group.groupId }}</td>
      </ng-container>
  
      <!-- Group Name Column -->
      <ng-container matColumnDef="groupName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let group">{{ group.groupName }}</td>
      </ng-container>
  
      <!-- Group Description Column -->
      <ng-container matColumnDef="groupDescription">
        <th mat-header-cell *matHeaderCellDef >Description</th>
        <td mat-cell *matCellDef="let group">{{ group.groupDescription }}</td>
      </ng-container>
  
      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef> Details </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="redirectToDetails(element.groupId)">
              <mat-icon class="mat-18">reorder</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="update">
          <th mat-header-cell *matHeaderCellDef>    Edit </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="accent" (click)="redirectToUpdate(element.groupId)">
                <mat-icon class="mat-18">edit</mat-icon>
            </button>
          </td>
        </ng-container>
    
          <ng-container matColumnDef="addTechnicians">
            <th mat-header-cell *matHeaderCellDef>    Add Technicians </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="accent" (click)="openTechnicianDialog(element.groupId)">
                  <mat-icon class="mat-18">add</mat-icon>
              </button>
            </td>
        </ng-container>
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="warn" (click)="deleteGroup(element.groupId)">
                  <mat-icon class="mat-18">delete</mat-icon>
              </button>
            </td>
          </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  