/* group.component.css */
.groups-table {
    width: 100%;
  }
  
  .mat-elevation-z8 {
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
  }
  
  th.mat-header-cell, td.mat-cell {
    padding: 8px;
    text-align: left;
    white-space: nowrap; 
    overflow: hidden;
  
    text-overflow: ellipsis; 
  }
  
  .mat-header-row, .mat-row {
    min-height: 48px;
  }

  .mat-mdc-header-cell.mdc-data-table__header-cell.cdk-header-cell.cdk-column-groupId{

    width:25px;

  }
  .mat-mdc-header-cell.mdc-data-table__header-cell.cdk-header-cell.cdk-column-groupName{

    width:150px;

  }
  .mat-mdc-header-cell.mdc-data-table__header-cell.cdk-header-cell.cdk-column-groupDescription{

    width:200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 

  }

  .mat-mdc-header-cell.mdc-data-table__header-cell.cdk-header-cell.cdk-column-delete{

    width:25px;

  }
  .mat-mdc-header-cell.mdc-data-table__header-cell.cdk-header-cell.cdk-column-addTechnicians{

    width:50px;

  }
  .mat-mdc-header-cell.mdc-data-table__header-cell.cdk-header-cell.cdk-column-update{

    width:25px;

  }
  .mat-mdc-header-cell.mdc-data-table__header-cell.cdk-header-cell.cdk-column-details{

    width:25px;

  }

  .groups-table{
    table-layout: fixed;  
    width: 100%;
   
  }
  
  .mat-elevation-z8 {
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
    padding: 24px;
    background: #FFFFFF;
    margin: 20px 0;
    border-radius: 10px;
  }
  

  

  
  
  .mat-paginator .mat-select-trigger {
    border-color: #1976D2;
  }
  

 .mat-mdc-cell{

  white-space: nowrap;
  overflow: hidden;
 }

  