
  .mat-mdc-header-row.mdc-data-table__header-row.cdk-header-row.ng-star-inserted{
    background-color: #6cb66e; 
    color: white; 
  }
  .tickets-table {
    width: 100%;
    min-width: 600px;
    table-layout: fixed;  

    width: 100%;
    tr:hover{
        background-color: #f5f5f5;
        cursor: pointer;
    }
    } 
    mat-tab-group {
      padding-bottom: 30px;
    }
    @media (max-width: 640px) {
      .tickets-table {
        min-width: 100%;  
      }
    
      th.mat-header-cell, td.mat-cell {
        padding: 8px;  
      }
    }

    
    

        


     .mat-mdc-header-row {
        position: sticky;
        top: 0;
        z-index: 10;
        box-shadow: 0 2px 4px rgba(19, 8, 8, 0.1); 
      }
      .mat-mdc-form-field.ng-tns-c3736059725-5.mat-mdc-form-field-type-mat-select.mat-form-field-appearance-fill.mat-primary.ng-star-inserted{

        margin-top: 3%;
      }
    


    
    a {
      color: #4c94e7;
      text-decoration: none;
    }
    
    a:hover {
      color: #0D47A1;
    }
    th.mat-header-cell, td.mat-cell {
      text-align: left;  
      padding: 12px;  
      border-bottom: 1px solid #e0e0e0;  
    }
    
  
    /* .table-wrapper-div {
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
      width: 100%;
overflow-x: auto;
display: flex;
flex-direction: column;
align-items: stretch;

    }
    .paginator-container{
      width: 100%;
    }
    .mat-paginator {
      width: 100%;  
    } */
  
    .table-wrapper-div {
      width: 100%;
      display: block;
      overflow-x: auto;
    }
    
    .scroll-container {
      width: 100%;
      overflow-x: auto;
    }
    