<!-- <app-header (toggleSidenav)="toggleSidenav()"></app-header>

<ng-container class="firstcontainer" *ngIf="isLoggedIn()">
  <app-sidenav [opened]="sidenavOpened"></app-sidenav>
</ng-container>

<ng-container *ngIf="!isLoggedIn()">
  <router-outlet></router-outlet>
</ng-container> -->

<div class="main-container">
  <app-header (toggleSidenav)="toggleSidenav()"></app-header>

  <div class="content-container" *ngIf="isLoggedIn()">
    <app-sidenav [opened]="sidenavOpened"></app-sidenav>
  </div>

  <div class="content-container" *ngIf="!isLoggedIn()">
    <router-outlet></router-outlet>
  </div>
</div>
